
.datatable .col {
    cursor: pointer;
    background-color: rgb(71, 35, 116);
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.datatable .col .pointer:after {
    font-size: 80%;
    content: "";
    margin-right: 18px;
}

.datatable .col .pointer:hover:after {
    font-size: 80%;
    content: "🔻";
    margin-right: 0;
}